.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1400px) {
        grid-template-columns: repeat(3, 32%);
        gap: 15px;
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 49%);
        gap: 10px;
    }

    @media (max-width: 400px) {
        grid-template-columns: repeat(1, 100%);
    }

    .video {
        a {
            img {
                padding-bottom: 10px;
            }
        }
    }
}

.video__slider {
    .video {
        .video__thumb {
            margin-bottom: 5px;
        }

        .video__text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            &:hover {}
        }
    }
}